/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #93345a;
  --ifm-color-primary-dark: #842f51;
  --ifm-color-primary-darker: #7d2c4c;
  --ifm-color-primary-darkest: #67243f;
  --ifm-color-primary-light: #a23963;
  --ifm-color-primary-lighter: #a93c67;
  --ifm-color-primary-lightest: #bd4575;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #b996c3;
  --ifm-color-primary-dark: #aa80b6;
  --ifm-color-primary-darker: #a375b0;
  --ifm-color-primary-darkest: #8b589a;
  --ifm-color-primary-light: #c8acd0;
  --ifm-color-primary-lighter: #cfb7d6;
  --ifm-color-primary-lightest: #e5d8e9;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

article .codeContainer {
  width: 1150px;
  margin-left: -50px;
}